<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Game History</title>
    
    <!-- Bootstrap CSS -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap"
      rel="stylesheet"
    />
    <style>
      body {
        font-family: 'Lobster', cursive;
      }
      .table-responsive {
        overflow-x: auto;
        overflow-y: auto;
        max-height: 700px;
      }
      .nowrap {
        white-space: nowrap;
      }
    </style>
  </head>
  <body>
    <!-- Bootstrap Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/welcome">Tic Tac Toe Tracker</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/welcome">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/username">Play Game</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/history">History</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/stats">Stats</a>
            </li>
          </ul>
        </div>
      </nav>
    
    <!-- Main Content -->
    <div class="container">
      <h1 class="text-center my-4">Game History</h1>
      
      <!-- Search Filters -->
      <div class="row mb-4">
        <div class="col-md-4">
          <input type="date" id="dateSearch" class="form-control" placeholder="Search by Date">
        </div>
        <div class="col-md-4">
          <input type="text" id="playerSearch" class="form-control" placeholder="Search by Player">
        </div>
        <div class="col-md-4">
          <input type="text" id="winnerSearch" class="form-control" placeholder="Search by Winner">
        </div>
      </div>

      <!-- Game History Table -->
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col" class="nowrap"> </th>
              <th scope="col" class="nowrap">Match Timestamp</th>
              <th scope="col" class="nowrap">Player 1</th>
              <th scope="col" class="nowrap">Player 2</th>
              <th scope="col" class="nowrap">Is Tie</th>
              <th scope="col" class="nowrap">Winner</th>
              <th scope="col" class="nowrap">Loser</th>
              <th scope="col" class="nowrap">Player 1 Moves</th>
              <th scope="col" class="nowrap">Player 2 Moves</th>
              <th scope="col" class="nowrap">Total Moves</th>
              <th scope="col" class="nowrap">Moves Sequence</th>
            </tr>
          </thead>
          <tbody id="historyTableBody">
            {% for record in history %}
            <tr>
              <td class="nowrap"><button class="btn btn-primary" data-id="{{ record._id }}" data-player1-moves="{{ record.player_1_moves }}" data-player2-moves="{{ record.player_2_moves }}" onclick="handleButtonClick(this)">Preview</button></td>
              <td class="nowrap">{{ record.match_timestamp }}</td>
              <td class="nowrap">{{ record.player_1 }}</td>
              <td class="nowrap">{{ record.player_2 }}</td>
              <td class="nowrap">{{ record.is_tie }}</td>
              <td class="nowrap">{{ record.winner }}</td>
              <td class="nowrap">{{ record.loser }}</td>
              <td class="nowrap">{{ record.player_1_moves }}</td>
              <td class="nowrap">{{ record.player_2_moves }}</td>
              <td class="nowrap">{{ record.total_moves }}</td>
              <td class="nowrap">
                {{record.move_sequence}}
                {% for i in range(9) %}
                {{ record['move_' + (i+1)|string] }}{% if not loop.last %}, {% endif %}
                {% endfor %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="previewModal" tabindex="-1" aria-labelledby="previewModalLabel" aria-hidden="true">
      <div class="modal-dialog" style="max-width: 300px;">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="previewModalLabel">Game Board Preview</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div id="gameBoard" class="d-flex flex-wrap" style="width: 180px; height: 180px;">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- include Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        function handleButtonClick(button) {
          const player1_moves = button.getAttribute('data-player1-moves');
          const player2_moves = button.getAttribute('data-player2-moves');
          const gameBoard = document.getElementById('gameBoard');
          gameBoard.innerHTML = '';

            for (let i = 1; i < 10; i++) {
            const cell = document.createElement('div');
            cell.style.width = '60px';
            cell.style.height = '60px';
            cell.style.border = '1px solid black';
            cell.style.display = 'flex';
            cell.style.alignItems = 'center';
            cell.style.justifyContent = 'center';
            if (player1_moves.includes(i.toString())) {
              cell.textContent = 'O';
            } else if (player2_moves.includes(i.toString())) {
              cell.textContent = 'X';
            } else {
              cell.textContent = '';
            }
            gameBoard.appendChild(cell);
            }

          $('#previewModal').modal('show');
        }

        document.getElementById('playerSearch').addEventListener('input', filterTable);
        document.getElementById('winnerSearch').addEventListener('input', filterTable);
        document.getElementById('dateSearch').addEventListener('input', filterTable);

        function filterTable() {
          const playerSearch = document.getElementById('playerSearch').value;
          const winnerSearch = document.getElementById('winnerSearch').value;
          const dateSearch = document.getElementById('dateSearch').value;

          const rows = document.querySelectorAll('#historyTableBody tr');
          rows.forEach(row => {
            const player1 = row.children[2].textContent;
            const player2 = row.children[3].textContent;
            const winner = row.children[5].textContent;
            const matchTimestamp = row.children[1].textContent;

            const playerMatch = player1.includes(playerSearch) || player2.includes(playerSearch);
            const winnerMatch = winner.includes(winnerSearch);
            const dateMatch = dateSearch ? matchTimestamp.startsWith(dateSearch) : true;

            if (playerMatch && winnerMatch && dateMatch) {
              row.style.display = '';
            } else {
              row.style.display = 'none';
            }
          });
        }
      </script>
</body>
</html>